<ul class="sidebar-menu" data-widget="tree">
    <li class="header">Menú de Navegación</li>
       <!-- ////////////////////////////// -->
    <li class="active treeview">
      <a href="#">
        <i class="fa fa-user"></i> <span>Admins</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li class="active">
                <%= link_to new_sistema_admin_path do%>
                <i class="fa fa-circle-o"></i>  Nuevo 
              <% end %>
        </li>
        <li class="active">
                <%= link_to sistema_admins_path do%>
                <i class="fa fa-circle-o"></i>  Listar 
              <% end %>
        </li>
       
      </ul>
    </li>
       <!-- ////////////////////////////// -->
    <li class=" treeview">
      <a href="#">
        <i class="fa fa-image"></i> <span>Banners</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li class="active">
                <%= link_to new_sistema_banner_path do%>
                <i class="fa fa-circle-o"></i>  Nuevo 
              <% end %>
        </li>
        <li class="active">
                <%= link_to sistema_banners_path do%>
                <i class="fa fa-circle-o"></i>  Listar 
              <% end %>
        </li>
       
      </ul>
    </li>
       <!-- ////////////////////////////// -->
    <li class=" treeview">
      <a href="#">
        <i class="fa fa-image"></i> <span>Banner inferior</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li class="active">
                <%= link_to new_sistema_banner_inferior_path do%>
                <i class="fa fa-circle-o"></i>  Nuevo 
              <% end %>
        </li>
        <li class="active">
                <%= link_to sistema_banner_inferiors_path do%>
                <i class="fa fa-circle-o"></i>  Listar 
              <% end %>
        </li>
       
      </ul>
    </li>
   
    <!-- ////////////////////////////// -->
    <li class=" treeview">
      <a href="#">
        <i class="fa  fa-pencil-square-o"></i> <span>Marcas</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li >
                <%= link_to new_sistema_marca_path do%>
                <i class="fa fa-circle-o"></i>  Nuevo 
              <% end %>
        </li>
        <li >
                <%= link_to sistema_marcas_path do%>
                <i class="fa fa-circle-o"></i>  Listar 
              <% end %>
        </li>
       
      </ul>
    </li>
    <!-- ////////////////////////////// -->
    <li class=" treeview">
      <a href="#">
        <i class="fa fa-building-o"></i> <span>Empresa</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li >
                <%= link_to new_sistema_empresa_path do%>
                <i class="fa fa-circle-o"></i>  Nuevo 
              <% end %>
        </li>
        <li >
                <%= link_to sistema_empresas_path do%>
                <i class="fa fa-circle-o"></i>  Listar 
              <% end %>
        </li>
       
      </ul>
    </li>
    <!-- ////////////////////////////// -->
    <li class=" treeview">
      <a href="#">
        <i class="fa  fa-users "></i> <span>Vendedores</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li >
                <%= link_to new_sistema_vendedore_path do%>
                <i class="fa fa-circle-o"></i>  Nuevo 
              <% end %>
        </li>
        <li >
                <%= link_to sistema_vendedores_path do%>
                <i class="fa fa-circle-o"></i>  Listar 
              <% end %>
        </li>
       
      </ul>
    </li>
    <!-- ////////////////////////////// -->
    <li class=" treeview">
      <a href="#">
        <i class="fa  fa-archive "></i> <span>Categoria</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li >
                <%= link_to new_sistema_cat_path do%>
                <i class="fa fa-circle-o"></i>  Nuevo 
              <% end %>
        </li>
        <li >
                <%= link_to sistema_cats_path do%>
                <i class="fa fa-circle-o"></i>  Listar 
              <% end %>
        </li>
       
      </ul>
    </li>
    <!-- ////////////////////////////// -->
    <li class=" treeview">
      <a href="#">
        <i class="fa  fa-archive "></i> <span>SubCategoria</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li >
                <%= link_to new_sistema_subcat_path do%>
                <i class="fa fa-circle-o"></i>  Nuevo 
              <% end %>
        </li>
        <li >
                <%= link_to sistema_subcats_path do%>
                <i class="fa fa-circle-o"></i>  Listar 
              <% end %>
        </li>
       
      </ul>
    </li>
    <!-- ////////////////////////////// -->
    <li class=" treeview">
      <a href="#">
        <i class="fa   fa-shopping-cart "></i> <span>Productos</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li >
                <%= link_to new_sistema_producto_path do%>
                <i class="fa fa-circle-o"></i>  Nuevo 
              <% end %>
        </li>
        <li >
                <%= link_to sistema_productos_path do%>
                <i class="fa fa-circle-o"></i>  Listar 
              <% end %>
        </li>
       
      </ul>
    </li>
    <!-- ////////////////////////////// -->
    <!-- <li class=" treeview">
      <a href="#">
        <i class="fa   fa-gears "></i> <span>configuraciones</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li >
                <%= link_to new_sistema_subcat_path do%>
                <i class="fa fa-circle-o"></i>  Nuevo 
              <% end %>
        </li>
        <li >
                <%= link_to sistema_subcats_path do%>
                <i class="fa fa-circle-o"></i>  Listar 
              <% end %>
        </li>
       
      </ul>
    </li> -->
    
   
  </ul>