 <div id="sidebar" class="sidebar" role="complementary">
                <aside class="widget woocommerce widget_product_categories electro_widget_product_categories">
                    <ul class="product-categories category-single">
                        <li class="product_cat">
                            
                            <ul class="show-all-cat">
                                
                                <li class="product_cat"><span class="show-all-cat-dropdown"><h5>Categorias</h5></span>
                                    <!-- <ul>
                                        <li class="cat-item"><a href="product-category.html">GPS &amp; Navi</a> <span class="count">(0)</span></li>
                                        <li class="cat-item"><a href="product-category.html">Home Entertainment</a> <span class="count">(1)</span></li>
                                        
                                    </ul> -->
                                </li>
                                
                            </ul>
                            <ul>
                                <% @categoria.each do |cat| %>
                                <li class="cat-item current-cat">
                                        <%=link_to  sitio_producto_path(cat) do %>
                                        <%= cat.nombre%>
                                        <% end %>
                                        <% if !cat.producto.blank?  %>
                                        <span class="count">(<%= cat.producto.count %>)</span>
                                        <% else %>
                                        <span class="count"></span>
                                        <% end %>
                                    
                                    <ul class='children'>
                                        <% cat.subcategoria(cat.id).each do |sub| %>
                                         <li class="cat-item">
                                                <%=link_to  sitio_producto_path(sub) do %>
                                                    <%= sub.nombre%>
                                                <% end %>
                                                
                                        </li>
                                        <% end %>
                                    </ul>
                                </li>
                                <% end %>
                                
                            </ul>
                        </li>
                    </ul>
                </aside>
               
            </div>
